/* CSS do tema, mobile-first */

* {
    box-sizing: border-box;
    outline: none;
}

html,
body {
    font-family: sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

body {
    background-attachment: fixed;
    background-image: url('/static/img/snakebg2.png');
    background-position: center;
}

a {
    color: steelblue;
    text-decoration: none;
}

a:hover {
    color: orangered;
}

#wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: auto;
    max-width: 1024px;
    position: relative;
    width: 100%;
}

header {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, .9);
    padding: .25rem;
}

header h1 {
    margin: 0;
    text-align: center;
}

header img {
    display: block;
    height: 4rem;
    margin-right: 1rem;
    width: auto;
}

nav {
    align-items: center;
    background-color: rgba(70, 131, 180, 0.9);
    display: flex;
    justify-content: space-around;
    padding: 1px;
}

nav a {
    color: white;
    font-weight: bold;
    padding: 1rem;
    text-transform: uppercase;
}

nav a:hover {
    background-color: orangered;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: rgba(255, 255, 255, .9);
}

main>article,
main>aside {
    padding: 0 1rem;
}

main>article {
    flex-grow: 1;
}

main>aside {
    background-color: #eee;
    background-color: rgba(255, 166, 0, 0.3);
    border-top: 1rem solid #bbb;
}

footer {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 1rem;
    text-align: center;
}

footer small {
    display: block;
    margin-top: .25rem;
}

/* Para telas maiores que 768 pixels */

@media screen and (min-width: 768px) {
    main {
        flex-direction: row;
    }

    main>aside {
        border-left: 1rem solid #bbb;
        border-top: none;
        max-width: 15rem;
        min-width: 15rem;
    }
}

/* Uso geral */

/* Campos de formulário  */
input[type=text],
input[type=search],
input[type=email],
button,
textarea {
    font-family: inherit;
    font-size: inherit;
    padding: .5rem;
    border: none;
}

.center {
    text-align: center;
}