{% extends 'layout.html' %}

{% block content %}

<article>

    <h2>Página Inicial</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, optio voluptatibus excepturi ipsum sapiente vitae exercitationem consequuntur voluptate est sequi sit repudiandae quaerat quidem rem officiis ut laboriosam praesentium maiores?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem laboriosam corrupti eaque, nemo officiis, nam perspiciatis veniam inventore debitis et eius ratione? Accusantium aspernatur at aperiam perspiciatis quidem porro voluptates!</p>

</article>

<aside>

    <h3>Conteúdo secundário</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum fuga vero modi quis.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur vitae incidunt, nostrum voluptatibus porro aliquam.</p>

</aside>

{% endblock %}