{% extends 'layout.html' %}
{% block content %}

<article>

    <h2>Políticas de Privacidade</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis et officiis saepe inventore, sunt magnam numquam accusantium aliquam earum iste. Reprehenderit iusto nihil inventore aspernatur vitae eligendi dignissimos pariatur accusantium.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet quibusdam, modi at illo repellendus magni veritatis laborum aspernatur saepe eum consequuntur tempore sunt deserunt culpa harum dolore, non eius natus.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo aliquam voluptatum blanditiis laboriosam corporis dolores ipsa ex quos adipisci! Illo dolorem consequatur natus voluptates in quibusdam nostrum odio nemo sint!</p>

</article>

{% endblock %}